* {font-family: sans-serif;}
.page-container {width: 1024px; margin: 0 auto; padding: 0;}
#logo {width: 150px; height: 150px; float: left; text-align: center;}
#search {width: 20em; height: 4em; float: right;}
#search input {width: 17em; height: 3em; float: left;}
#search-btn {width: 3em; height: 3em; background-color: #ccc; float: right; padding: 0 1em; text-align: center;}
#search-btn i {padding: 30% 0;}
#top-panel {margin: 1em 1.5em 1em 1em;}
#top-banner {background:url(images/W7-lab-banner-background.png) no-repeat;height:320px;}
#banner-heading {background-color: #fff; margin-left:2em; margin-top: 4em; width: 30%; padding: 0.5em; display: inline-block;}
#banner-list {padding: 1em;}
#page-center {margin: 0 2em 0 0;}
#bottom-row {margin: 1em 0; border-bottom:3px solid #666;}
#social {padding-left: 1em;}
.grid-row {padding: 1em 0 1em 1em;}
#extra-img {float: left; padding: 2em 1em;}
#extra-img img {float: left;}
#extra-img p {display: inline-block; margin-left: 1em;}
li.spaced-list {padding-bottom: 1.5em;}
header {height: 8em; margin: 1em 0; padding: 0;}
nav {height: 26px; margin: 1em 0; padding: 10px 0 20px 10px; background-color: #ccc; font-size: 32px;}
.padded {background-color: #ccc; padding: 1em; margin: .75em 0;}
#center-right {padding: 1em 0 0 1em; margin: 0;}
#carousel .col {margin: 1em 0 1em 1em;}
/* 
Review the rest of this CSS file and add comments. The goal of the review is to give you an idea of how this file can be
reused for future class and individual project work.

The comments should detail
- What does the class do?
- What will be a good use case of this class?

.container {
  margin: 0 auto;
  width: 1200px;
}
-This class will create space around an object creating a container
-This class could be used to make a block on a page well spaced out 

.row {
  display: flex;
  flex-flow: row wrap;
}

-This class takes all of the elements and puts them in a row next to eachother
-This class will be used to properly format images and text in a row

.col {
  display: flex;
}

-This class takes all of the elements and puts them into a flex box column
-This class will be used to space elements out in a flex box

.col-1 {
  flex: 1;
}

-This class uses the flex box to put an image or text in the first position
-This class will be useful for formatting based on flex box position

.col-2 {
  flex: 2;
}

-This class uses the flex box to put an image or text in the second position
-This class will be useful for formatting based on flex box position

.col-3 {
  flex: 3;
}

-This class uses the flex box to put an image or text in the third position
-This class will be useful for formatting based on flex box position

.responsive {
  width: 100%;
  height: auto;
}

-This class will make sure an element fits the page properly according to automatic format
-This class is useful for adding text and images that you need to fit properly regardless of format

.text-center {
  text-align: center;
}

-This class will center the text
-This class will be used for formatting text in the center

.text-right {
  text-align: right;
}

-This class will align the text on the right side
-This class will be used for formatting text on the right 

.card {
  border: 1px solid #ccc;
}

-This class puts a border around the elements in the class
-This class is for style purposes so that the elements will be seen clearer

.rounded-border {
  border-radius: 5px;
}

-This class makes a border around the elements that is 5 pixels
-This class is used for styling your page and will help with visibility

.m-1 {
  margin: 10px;
}

-This class creates a margin around all elements that is 10 pixels
-This class is used for formatting a page based on having space in between elements
.mt-1 {
  margin-top: 10px;
}

-This class creates a margin around the top all elements that is 10 pixels
-This class is used for formatting a page based on having space in between elements

.ml-1 {
  margin-left: 10px;
}

-This class creates a margin on the left of all elements that is 10 pixels
-This class is used for formatting a page based on having space in between elements

.mr-1 {
  margin-right: 10px;
}

-This class creates a margin on the right of all elements that is 10 pixels
-This class is used for formatting a page based on having space in between elements

.mb-1 {
  margin-bottom: 10px;
}

-This class creates a margin on the bottom all elements that is 10 pixels
-This class is used for formatting a page based on having space in between elements

.p-1 {
  padding: 10px;
}

-This class pads the image 10 pixels
-This class is used for formatting a page based on how large you want the element to be

.pt-1 {
  padding-top: 10px;
}

-This class pads the image 10 pixels
-This class is used for formatting a page based on how large you want the element to be

.pl-1 {
  padding-left: 10px;
}

-This class pads the image 10 pixels on the left
-This class is used for formatting a page based on how large you want the element to be

.pr-1 {
  padding-right: 10px;
}

-This class pads the image 10 pixels on the right
-This class is used for formatting a page based on how large you want the element to be

.pb-1 {
  padding-bottom: 10px;
}

-This class pads the image 10 pixels on the bottom
-This class is used for formatting a page based on how large you want the element to be

#/